<div class="row justify-content-center">
    <div class="mt-4 col-lg-6" style="background-color:#ffffff">

        <div class="mt-4 my-2 text-center text-primary">
            <h3>HardScape</h3>
        </div>

        <div class="mt-3 text-center">
            <div>
                <mat-label><h4>Você sabe quantos kilos de substrato tem no seu aquário ?</h4></mat-label>
                <mat-form-field appearance="legacy">
                    <mat-select *ngIf="false">
                        <mat-option value="true">Sim</mat-option>
                        <mat-option value="false">Não</mat-option>
                    </mat-select>
                    <input type="number" class="ms-3 form-control me-5" maxlength="3" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                </mat-form-field>

            </div>
            <div class="mt-5 mb-5">
                <button class="btn btn-primary btn-lg" type="button" (click)="openDimentions()">
                    Voltar
                </button>
                
                <button class="btn btn-primary btn-lg ms-4" type="button">
                    Proximo
                </button>
                <button class="btn btn-primary btn-lg ms-4" type="button" (click)="openAquarion()">
                    Aquario
                </button>
            </div>
        </div>
    </div>
</div>