<div class="row justify-content-center">
    <div class="mt-4 col-lg-4" style="background-color:#ffffff">

        <div class="mt-4 my-2 text-center text-primary">
            <h3>Aquário</h3>
        </div>

        <div class="mt-3 text-center">
            <div>
                <mat-label><h4>Escolha um peixe</h4></mat-label>
                <mat-form-field appearance="legacy">
                    <mat-select>
                        <mat-option value="true">Betta</mat-option>
                        <mat-option value="true">Colisa</mat-option>
                        <mat-option value="false">Tricotaster</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <div class="mt-5 mb-5">
                <button class="btn btn-primary btn-lg me-4" type="button" (click)="openHardscape()">
                    Voltar
                </button>
            </div>
        </div>
    </div>
</div>