<div class="row justify-content-center">
    <div class="mt-4 col-lg-4" style="background-color:#ffffff">

        <div class="mt-4 my-2 text-center text-primary">
            <h3>Aquário</h3>
        </div>

        <div class="mt-3">
            <div class="text-center">
                <mat-label><h5>Escolha um peixe</h5></mat-label>
                <mat-form-field appearance="legacy">
                    <mat-select  (selectionChange)="openFishDialog()">
                        <mat-option value="true">Betta</mat-option>
                        <mat-option value="true">Colisa</mat-option>
                        <mat-option value="false">Tricotaster</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="card text-white bg-primary mb-3 mt-3" >
                <div class="card-header">
                  Dados
                </div>
                <div class="text-right">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Temperatura : </b>24Cº - 28Cº</li>
                        <li class="list-group-item"><b>PH : </b>6.4 - 7.0</li>
                        <li class="list-group-item"><b>Dureza :</b> 5-12</li>
                        <li class="list-group-item"><b>Espaço disponivel : </b> 91 cm</li>
                    </ul>
                </div>
            </div>

            <div class="mt-4">
                <table class="table table-primary table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Peixe</th>
                        <th scope="col">Quantidade</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Coliza</td>
                        <td>1</td>
                        <td><mat-icon aria-hidden="false" >delete</mat-icon></td>
                      </tr>
                      <tr>
                        <td>Ramirezi</td>
                        <td>1</td>
                        <td><mat-icon aria-hidden="false" >delete</mat-icon></td>
                      </tr>
                      <tr>
                        <td>Neon</td>
                        <td>10</td>
                        <td><mat-icon aria-hidden="false" >delete</mat-icon></td>
                      </tr>
                    </tbody>
                  </table>
            </div>    

            <div class="mt-5 mb-5 text-center">
                <button class="btn btn-primary btn-lg me-4" type="button" (click)="openHardscape()">
                    Voltar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="fishDialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-primary" id="exampleModalLabel">Dados da especie</h5>
        </div>
        <div class="modal-body">
            <div class="row justify-content-center">
                <img src="http://www.aquarismopaulista.com/wp-content/uploads/2016/01/Apistogramma-gossei.jpg" >
            </div>
            <div class="mt-3">
              <div class="card text-white bg-primary mb-3 mt-3" >
                <div class="card-header">
                  Apistograma
                </div>
                <div class="text-right">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Temperatura : </b>24Cº - 28Cº</li>
                        <li class="list-group-item"><b>PH : </b>6.4 - 7.0</li>
                        <li class="list-group-item"><b>Dureza :</b> 5-12</li>
                        <li class="list-group-item">
                          <div class="input-group">
                            <span ><b>Quantidade desejada : </b></span>
                            <input type="number" class="ms-3 form-control me-5" maxlength="3" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                            <button class="btn btn-primary" data-bs-dismiss="modal">Adicionar</button>
                          </div>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
        <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
