<div class="modal fade" id="messageDialog" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content center">
    
            <div class="modal-header">
                
            </div>
            <div class="modal-body text-center">
            <div class="alert alert-danger" role="alert">
                <h5>{{text}}</h5>
            </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>        
</div>

