<div class="row justify-content-center">
    <div class="mt-4 col-lg-4" style="background-color:#ffffff">
        <div class="mt-4 my-2 text-center text-primary">
            <h4>Dimensões do aquário</h4>
        </div>

        <div class="mt-4 my-2 text-center">
            <div>
                <input-number label="Comprimento" [(value)]="width"  ></input-number>cm
            </div>
            <div class="mt-2">
                <input-number label="Largura" [(value)]="length"  ></input-number>cm
            </div>
            <div class="mt-2">
                <input-number label="Altura" [(value)]="height"  ></input-number>cm
            </div>
            <button [disabled]="!isFilled()" class="btn btn-primary btn-lg btn-block mt-5 mb-5" (click)="openHardscape()">
                Hardscape
            </button>
        </div>
    </div>
</div>