<div class="row justify-content-center">
    <div class="mt-4 col-lg-4" style="background-color:#ffffff">
        <div class="mt-4 my-2 text-center text-primary">
            <h4>Dimensões do aquário</h4>
        </div>

        <div class="mt-4 my-2 text-center">
            <div>
                <mat-form-field appearance="legacy">
                    <mat-label>Comprimento</mat-label>
                    <input matInput type="tel" maxlength="3" [(ngModel)]="tank.width"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                </mat-form-field>
            </div>
            <div class="mt-2">
                <mat-form-field appearance="legacy">
                    <mat-label>Largura</mat-label>
                    <input matInput type="number" maxlength="3"  [(ngModel)]="tank.length"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                </mat-form-field>
            </div>
            <div class="mt-2">
                <mat-form-field appearance="legacy">
                    <mat-label>Altura</mat-label>
                    <input matInput type="number" maxlength="3"  [(ngModel)]="tank.height"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                </mat-form-field>
            </div>
            <button *ngIf="tank.isFilled()" class="btn btn-primary btn-lg btn-block mt-5 mb-5" (click)="openHardscape()">
                Hardscape
            </button>
        </div>
    </div>
</div>