<div>
  <div class="container">
    <div class="my-5 text-center text-light ">
      <h2>Escolha os peixes do seu aquario</h2>
      <h5>
        <p>Com esse sistema você conseguira escolher os peixes apropriados para seu aquario.</p>
      </h5>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6" style="background-color:#ffffff">

        <div class="my-2 text-center">
          <h4>Dimensões do aquario</h4>
        </div>

        <div >
          <div>
            <input class="form-control form-control-lg mb-3 mt-3" type="number" placeholder="Comprimento" maxlength="3">
          </div>
          <div>
            <input class="form-control form-control-lg mb-3 mt-3" type="number" placeholder="Largura"
              v-model="inputBarCode" maxlength="3">
          </div>
          <div>
            <input class="form-control form-control-lg mb-3 mt-3" type="number" placeholder="Altura"
              v-model="inputBarCode" maxlength="3">
          </div>
          <button class="btn btn-primary btn-lg btn-block mt-5 mb-5" type="button">
            Hardscape
          </button>
        </div>

      </div>
    </div>

  </div>

</div>