<spinner *ngIf="loading"></spinner>
<message [text]="message" #tagMessage></message>

<div class="row justify-content-center">
    <div class="mt-4 col-lg-6" style="background-color:#ffffff">
        <div class="mt-4 my-2 text-center text-primary">
            <h3>HardScape</h3>
        </div>

        <div class="mt-3 text-center">
            <mat-label>
                <h4>{{ question.displayText }}</h4>
            </mat-label>
  
            <div *ngIf="question.isYesOrNoQuestion">
               <mat-form-field appearance="legacy" >
                    <mat-select [(ngModel)]="answer" (selectionChange)="nextQuestion()">
                        <mat-option value="true">Sim</mat-option>
                        <mat-option value="false">Não</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="input-group mt-4" *ngIf="!question.isYesOrNoQuestion && question.displayText != ''">
                <div class="col"></div>
                <div class="col-5">
                    <div class="input-group">
                        <input  type="tel" [(ngModel)]="answer" class="form-control"
                        maxlength="3"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                        <button *ngIf="answer !=null" class="btn btn-primary btn-sm" type="button" (click)="nextQuestion()">
                            Próximo
                        </button>
                    </div>
                </div>
                <div class="col"></div>               
              </div>
       
            <div class="mt-5 mb-5">
                <button class="btn btn-primary btn-lg" type="button" (click)="openDimentions()">
                    Voltar
                </button>
             
            </div>
        </div>
    </div>
</div>