<div class="mt-4 my-2 text-center">
    <h4>Dimensões do aquário</h4>
</div>

<div class="mt-4 my-2 text-center">
    <div>
        <mat-form-field appearance="legacy">
            <mat-label>Comprimento</mat-label>
            <input matInput type="number" maxlength="3"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
        </mat-form-field>
    </div>
    <div class="mt-2">
        <mat-form-field appearance="legacy">
            <mat-label>Largura</mat-label>
            <input matInput type="number" maxlength="3"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
        </mat-form-field>
    </div>
    <div class="mt-2">
        <mat-form-field appearance="legacy">
            <mat-label>Altura</mat-label>
            <input matInput type="number" maxlength="3"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
        </mat-form-field>
    </div>
    <button class="btn btn-primary btn-lg btn-block mt-5 mb-5" type="button">
        Hardscape
    </button>
</div>